body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(90deg, #34d9a4, #4440c7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
